$gray: #CBC9CF;
$lightgray: #f5f5f5;
$black: #000;
$white: #fff;
$darkgray: #5f5f5f;
$txtgray: #999;
$hovergray: #383838;
$divider: #E1E1E1;
$selection: #58cdcd;

@mixin room-locate ($id, $left, $top, $offset : 3px) {
  .room-result#{$id} {
    left: $left - $offset;
    top: $top - $offset;
  }
}
@mixin room-locate-right ($id, $right, $top, $offset : 3px) {
  .room-result#{$id} {
    right: $right + $offset;
    top: $top - $offset;
  }
}
@mixin room-green ($id, $id2, $height : 10px, $color : "") {
  @while ($id > $id2) {
    .room-result#{$id} {
      @if $color != "" {
        background-color: $color !important;
      }
      height: $height !important;
      $id: $id - 1;
    }
  }
}