$gray: #CBC9CF;
$lightgray: #f5f5f5;
$black: #000;
$white: #fff;
$darkgray: #5f5f5f;
$txtgray: #999;
$hovergray: #383838;
$divider: #E1E1E1;
$selection: #58cdcd;

@mixin room-locate ($id, $left, $top) {
  .room-result#{$id} {
    left: $left;
    top: $top;
  }
}
@mixin room-locate-right ($id, $right, $top) {
  .room-result#{$id} {
    right: $right;
    top: $top;
  }
}
