
@import "base";
@media (min-width:767px) {

  .page-camping  #content,
  .page-booking #content_result {
    background: url('../../images/maps/laegaardenscamping.jpg') 100% 0 no-repeat no-repeat;
  }
  .page-camping #content, .page-booking #content_result {
    min-height: 1040px;
  }
  .view-camping-type {
    height: 1040px;
  }
}

@media (min-width:767px) {

  /***  Room locations ****/
  // A
  @include room-locate(1, 43%, 69.5%);
  @include room-locate(2, 47.8%, 69.5%);
  @include room-locate(3, 52.6%, 69.5%);
  @include room-locate(4, 52.7%, 67.3%);
  @include room-locate(5, 47.8%, 67.3%);
  @include room-locate(6, 43%, 67.3%);
  // B
  @include room-locate(7, 43%, 65.7%);
  @include room-locate(8, 47.8%, 65.7%);
  @include room-locate(9, 52.7%, 65.7%);
  @include room-locate(10, 43%, 61%);
  @include room-locate(11, 48%, 61%);
  @include room-locate(12, 53%, 61%);
  // C
  @include room-locate(13, 53%, 58%);
  @include room-locate(14, 49%, 58%);
  @include room-locate(15, 44%, 58%);
  @include room-locate(16, 40%, 58%);
  @include room-locate(17, 40%, 56%);
  @include room-locate(18, 44%, 56%);
  @include room-locate(19, 49%, 56%);
  @include room-locate(20, 53%, 56%);
  // D
  @include room-locate(21, 53%, 52.5%);
  @include room-locate(22, 49%, 52.5%);
  @include room-locate(23, 44%, 52.5%);
  @include room-locate(24, 40%, 52.5%);
  @include room-locate(25, 50%, 50%);
  @include room-locate(26, 50%, 50%);
  @include room-locate(27, 50%, 50%);
  @include room-locate(28, 50%, 50%);
  @include room-locate(29, 50%, 50%);
  @include room-locate(30, 50%, 50%);
  @include room-locate(31, 50%, 50%);
  @include room-locate(32, 50%, 50%);
  @include room-locate(33, 50%, 50%);
  @include room-locate(34, 50%, 50%);
  @include room-locate(35, 50%, 50%);
  @include room-locate(36, 50%, 50%);
  @include room-locate(37, 50%, 50%);
  @include room-locate(38, 50%, 50%);
  @include room-locate(39, 50%, 50%);
  @include room-locate(40, 50%, 50%);
  @include room-locate(41, 50%, 50%);
  @include room-locate(42, 50%, 50%);
  @include room-locate(43, 50%, 50%);
  @include room-locate(44, 50%, 50%);
  @include room-locate(45, 50%, 50%);
  @include room-locate(46, 50%, 50%);
  @include room-locate(47, 50%, 50%);
  @include room-locate(48, 50%, 50%);
  @include room-locate(49, 50%, 50%);
  @include room-locate(50, 50%, 50%);
  @include room-locate(51, 50%, 50%);
  @include room-locate(52, 50%, 50%);
  @include room-locate(53, 50%, 50%);
  @include room-locate(54, 50%, 50%);
  @include room-locate(55, 50%, 50%);
  @include room-locate(56, 50%, 50%);
  @include room-locate(57, 50%, 50%);
}
