
@import "base";
@media (min-width:767px) {

  .page-camping  #content,
  .page-booking #content_result {
    background: url('../../images/maps/laegaardenscamping.jpg') 100% 0 no-repeat no-repeat;
  }
  .page-camping #content, .page-booking #content_result {
    min-height: 1040px;
  }
  .view-camping-type {
    height: 1040px;
  }
}

@media (min-width:767px) {

  /***  Room locations ****/
  // A
  @include room-locate(1, 348px, 728px);
  @include room-locate(2, 318px, 728px);
  @include room-locate(3, 289px, 728px);
  @include room-locate(4, 289px, 703px);
  @include room-locate(5, 318px, 703px);
  @include room-locate(6, 348px, 703px);

  // B
  @include room-locate(7, 350px, 685px);
  @include room-locate(8, 318px, 685px);
  @include room-locate(9, 289px, 685px);
  @include room-locate(10, 289px, 657px);
  @include room-locate(11, 318px, 657px);
  @include room-locate(12, 350px, 657px);

  // C
  @include room-locate(13, 351px, 640px);
  @include room-locate(14, 318px, 640px);
  @include room-locate(15, 289px, 640px);
  @include room-locate(16, 289px, 603px);
  @include room-locate(17, 314px, 603px);
  @include room-locate(18, 342px, 603px);
  @include room-locate(19, 370px, 603px);

  // D
  @include room-locate(20, 370px, 588px);
  @include room-locate(21, 342px, 588px);
  @include room-locate(22, 314px, 588px);
  @include room-locate(23, 289px, 588px);
  @include room-locate(24, 289px, 551px);
  @include room-locate(25, 314px, 551px);
  @include room-locate(26, 342px, 551px);
  @include room-locate(27, 370px, 551px);

  // E
  @include room-locate(28, 380px, 531px);
  @include room-locate(29, 355px, 531px);
  @include room-locate(30, 355px, 497px);
  @include room-locate(31, 380px, 497px);

  // 166 - 169
  @include room-locate(32, 325px, 490px);
  @include room-locate(33, 291px, 490px);
  @include room-locate(34, 291px, 529px);
  @include room-locate(35, 325px, 529px);

  // F
  @include room-locate(36, 403px, 635px);
  @include room-locate(37, 409px, 614px);
  @include room-locate(38, 413px, 590px);
  @include room-locate(39, 416px, 569px);

  // G
  @include room-locate(40, 431px, 651px);
  @include room-locate(41, 439px, 625px);
  @include room-locate(42, 446px, 599px);
  @include room-locate(43, 451px, 571px);

  // H
  @include room-locate(44, 468px, 650px);
  @include room-locate(45, 476px, 626px);
  @include room-locate(46, 484px, 598px);
  @include room-locate(47, 488px, 571px);

  // I
  @include room-locate(48, 501px, 625px);
  @include room-locate(49, 507px, 597px);
  @include room-locate(50, 511px, 572px);

  // CY
  @include room-locate(51, 428px, 705px);
  @include room-locate(52, 435px, 686px);

  // HY
  @include room-locate(53, 435px, 743px);
  @include room-locate(54, 477px, 747px);
  @include room-locate(55, 480px, 712px);
  @include room-locate(56, 490px, 685px);

  // MO
  @include room-locate(57, 495px, 655px);

}
