
@import "base";
@media (min-width:767px) {

  .page-camping  #content,
  .page-booking #content_result {
    background: url('../../images/maps/marinalystcamp.png') 100% 0 no-repeat no-repeat;
  }
  .page-camping #content, .page-booking #content_result {
    min-height: 700px;
  }
  .view-camping-type {
    height: 700px;
  }
}

@media (min-width:767px) {

  /***  Room locations ****/
  .room-result127 {right: 54%;top: 64%;}
  .room-result128 {right: 55%;top: 62%;}
  .room-result129 {right: 56%;top: 59%;}
  .room-result130 {right: 57%;top: 57%;}
  .room-result5 {right: 35%;top: 53%;}
  .room-result6 {right: 34%;top: 56%;}
  .room-result7 {right: 34%;top: 59%;}
  .room-result8 {right: 33.5%;top: 62%;}
  .room-result9 {right: 37%;top: 63%;}
  .room-result10 {right: 37%;top: 59%;}
  .room-result11 {right: 37%;top: 55%;}
  .room-result12 {right: 41%;top: 32.5%;}
  .room-result13 {right: 41.5%;top: 28.5%;}
  .room-result14 {right: 42%;top: 30.5%;}
  .room-result15 {right: 42%;top: 25.5%;}
  .room-result16 {right: 42%;top: 22%;}
  .room-result17 {right: 43%;top: 19.5%;}
  .room-result18 {right: 44%;top: 16.7%;}
  .room-result19 {right: 45%;top: 14%;}
  .room-result20 {right: 45%;top: 11%;}
  .room-result21 {right: 46%;top: 8.5%;}
  .room-result22 {right: 49.5%;top: 9%;}
  .room-result23 {right: 48%;top: 18%;}
  .room-result24 {right: 48.5%;top: 14%;}
  .room-result25 {right: 47%;top: 25%;}
  .room-result26 {right: 46%;top: 30%;}
  .room-result27 {right: 47%;top: 22%;}
  .room-result28 {right: 46%;top: 28%;}
  .room-result29 {right: 45%;top: 33%;}
  .room-result30 {right: 48%;top: 33%;}
  .room-result31 {right: 48%;top: 30%;}
  .room-result32 {right: 48%;top: 28%;}
  .room-result33 {right: 49.5%;top: 25%;}
  .room-result34 {right: 50%;top: 22%;}
  .room-result35 {right: 50.5%;top: 18%;}
  .room-result36 {right: 51%;top: 15%;}
  .room-result37 {right: 51.5%;top: 12%;}
  .room-result38 {right: 52%;top: 9%;}
  .room-result39 {right: 53.5%;top: 16%;}
  .room-result40 {right: 56%;top: 16%;}

  .room-result41 {right: 62%;top: 20%;}
  .room-result42 {right: 63%;top: 22.5%;}
  .room-result43 {right: 65%;top: 25%;}

  .room-result44 {right: 62%;top: 28%;}
  .room-result45 {right: 59%;top: 27%;}
  .room-result46 {right: 56%;top: 27%;}
  .room-result47 {right: 56%;top: 24%;}
  .room-result48 {right: 57%;top: 22%;}
  .room-result49 {right: 54%;top: 22%;}
  .room-result50 {right: 53%;top: 24%;}
  .room-result51 {right: 53%;top: 26%;}
  .room-result52 {right: 52%;top: 31.5%;}
  .room-result53 {right: 55%;top: 32%;}
  .room-result54 {right: 58%;top: 32.5%;}
  .room-result55 {right: 60.5%;top: 32.5%;}

  .room-result56 {right: 67%;top: 27%;}
  .room-result57 {right: 67%;top: 29%;}
  .room-result58 {right: 66%;top: 32%;}
  .room-result59 {right: 65%;top: 34%;}
  .room-result60 {right: 63%;top: 38.5%;}

  .room-result61 {right: 59%;top: 38%;}
  .room-result62 {right: 56%;top: 37.5%;}
  .room-result63 {right: 53%;top: 37%;}
  .room-result64 {right: 51%;top: 37%;}
  .room-result65 {right: 51%;top: 39%;}
  .room-result66 {right: 53%;top: 39%;}
  .room-result67 {right: 56%;top: 39.5%;}
  .room-result68 {right: 58.5%;top: 40%;}
  .room-result69 {right: 61%;top: 40%;}

  .room-result70 {right: 56%;top: 45%;}
  .room-result71 {right: 53%;top: 45%;}
  .room-result72 {right: 50%;top: 45%;}
  .room-result73 {right: 49.5%;top: 47%;}
  .room-result74 {right: 52%;top: 48%;}
  .room-result75 {right: 54.5%;top: 48%;}

  .room-result76 {right: 60%;top: 46%;}
  .room-result77 {right: 58.5%;top: 48%;}
  .room-result78 {right: 58%;top: 51%;}
  .room-result79 {right: 56%;top: 53%;}
  .room-result80 {right: 53%;top: 53%;}

  .room-result81 {right: 50%;top: 53%;}
  .room-result82 {right: 47.5%;top: 52.5%;}
  .room-result83 {right: 47%;top: 55%;}
  .room-result84 {right: 50%;top: 55.5%;}
  .room-result85 {right: 52.5%;top: 55.5%;}

  .room-result86 {right: 52%;top: 66%;}
  .room-result87 {right: 51.5%;top: 69%;}
  .room-result88 {right: 49%;top: 67%;}
  .room-result89 {right: 46.5%;top: 67%;}
  .room-result90 {right: 44%;top: 67%;}
  .room-result91 {right: 44%;top: 64%;}
  .room-result92 {right: 46.5%;top: 64%;}
  .room-result93 {right: 49%;top: 64%;}
  .room-result94 {right: 50%;top: 61%;}
  .room-result95 {right: 47%;top: 61%;}
  .room-result96 {right: 45%;top: 61%;}

  .room-result97 {right: 40%;top: 66%;}
  .room-result98 {right: 40%;top: 64%;}
  .room-result99 {right: 41%;top: 61%;}
  .room-result100 {right: 41%;top: 58%;}

  .room-result101 {right: 42%;top: 56%;}
  .room-result102 {right: 31%;top: 69%;}
  .room-result103 {right: 31%;top: 72%;}
  .room-result104 {right: 30%;top: 75%;}
  .room-result105 {right: 35%;top: 69%;}
  .room-result106 {right: 34%;top: 72%;}
  .room-result107 {right: 34%;top: 74%;}
  .room-result108 {right: 34%;top: 77%;}
  .room-result109 {right: 40%;top: 69%;}
  .room-result110 {right: 40%;top: 72%;}
  .room-result111 {right: 38%;top: 75%;}
  .room-result112 {right: 37%;top: 78%;}

  .room-result113 {right: 45.5%;top: 75%}
  .room-result114 {right: 47%;top: 76.5%}
  .room-result115 {right: 43.5%;top: 76%}
  .room-result116 {right: 44%;top: 78%}
  .room-result117 {right: 46.5%;top: 78%}
  .room-result118 {right: 45%;top: 79.5%}
  .room-result119 {right: 43%;top: 81.3%}
  .room-result120 {right: 41%;top: 83%}
  .room-result121 {right: 43%;top: 83%}
  .room-result122 {right: 45%;top: 83%}
  .room-result123 {right: 45%;top: 85%}
  .room-result124 {right: 41%;top: 85%}
  .room-result125 {right: 43%;top: 85%}
  .room-result126 {right: 42.5%;top: 86.5%}

}
