
@import "base";
@media (min-width:767px) {

  .page-camping  #content,
  .page-booking #content_result {
    // Change this URL to use YOUR site's map.
    background: url('../../images/maps/sejero-kort.jpg') 100% 0 no-repeat no-repeat;
  }
  .page-camping #content, .page-booking #content_result {
    /** Adjust to height of background map **/
    min-height: 700px;
  }
  .view-camping-type {
    height: 700px;
  }
}

@media (min-width:767px) {

  /***  Room locations ****/
  @include room-locate(4, 112px, 537px);
  @include room-locate(5, 96px, 526px);
  @include room-locate(6, 104px, 495px);
  @include room-locate(7, 273px, 322px);
  @include room-locate(8, 278px, 297px);
  @include room-locate(9, 302px, 290px);
  @include room-locate(10, 305px, 269px);
  @include room-locate(11, 329px, 261px);
  @include room-locate(12, 367px, 209px);
  @include room-locate(13, 409px, 173px);
  @include room-locate(14, 422px, 156px);
  @include room-locate(15, 437px, 142px);
  
  // Add a room-locate for each room (camping unit).
  // The room-locate subtracts an offset of default 3px, this to center the dot correctly.
  //
  // @include room-locate(127, 500px, 200px);
  //
  // .room-result127 {
  //   left: 497px;
  //   top: 197px;
  // }
  //
  // You can override the offset:
  // @include room-locate(127, 500px, 200px, 0px);
  //
  // .room-result127 {
  //   left: 500px;
  //   top: 200px;
  // }
  //

}
