@media (min-width: 767px) {
  /* line 6, ../../sass/maps/laegaardenscamping.map.scss */
  .page-camping #content,
  .page-booking #content_result {
    background: url("../../images/maps/laegaardenscamping.jpg") 100% 0 no-repeat no-repeat;
  }

  /* line 9, ../../sass/maps/laegaardenscamping.map.scss */
  .page-camping #content, .page-booking #content_result {
    min-height: 1040px;
  }

  /* line 12, ../../sass/maps/laegaardenscamping.map.scss */
  .view-camping-type {
    height: 1040px;
  }
}
@media (min-width: 767px) {
  /***  Room locations ****/
  /* line 12, ../../sass/_base.scss */
  .room-result1 {
    right: 348px;
    top: 728px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result2 {
    right: 318px;
    top: 728px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result3 {
    right: 289px;
    top: 728px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result4 {
    right: 289px;
    top: 703px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result5 {
    right: 318px;
    top: 703px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result6 {
    right: 348px;
    top: 703px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result7 {
    right: 350px;
    top: 685px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result8 {
    right: 318px;
    top: 685px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result9 {
    right: 289px;
    top: 685px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result10 {
    right: 289px;
    top: 657px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result11 {
    right: 318px;
    top: 657px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result12 {
    right: 350px;
    top: 657px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result13 {
    right: 351px;
    top: 640px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result14 {
    right: 318px;
    top: 640px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result15 {
    right: 289px;
    top: 640px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result16 {
    right: 289px;
    top: 603px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result17 {
    right: 314px;
    top: 603px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result18 {
    right: 342px;
    top: 603px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result19 {
    right: 370px;
    top: 603px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result20 {
    right: 370px;
    top: 588px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result21 {
    right: 342px;
    top: 588px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result22 {
    right: 314px;
    top: 588px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result23 {
    right: 289px;
    top: 588px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result24 {
    right: 289px;
    top: 551px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result25 {
    right: 314px;
    top: 551px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result26 {
    right: 342px;
    top: 551px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result27 {
    right: 370px;
    top: 551px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result28 {
    right: 380px;
    top: 531px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result29 {
    right: 355px;
    top: 531px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result30 {
    right: 355px;
    top: 497px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result31 {
    right: 380px;
    top: 497px;
  }
}
