@media (min-width: 767px) {
  /* line 6, ../../sass/maps/sejeroe.map.scss */
  .page-camping #content,
  .page-booking #content_result {
    background: url("../../images/maps/sejero-kort.jpg") 100% 0 no-repeat no-repeat;
  }

  /* line 10, ../../sass/maps/sejeroe.map.scss */
  .page-camping #content, .page-booking #content_result {
    /** Adjust to height of background map **/
    min-height: 700px;
  }

  /* line 14, ../../sass/maps/sejeroe.map.scss */
  .view-camping-type {
    height: 700px;
  }
}
@media (min-width: 767px) {
  /***  Room locations ****/
  /* line 12, ../../sass/_base.scss */
  .room-result0 {
    left: 71px;
    top: 549px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result1 {
    left: 53px;
    top: 564px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result2 {
    left: 67px;
    top: 577px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result3 {
    left: 87px;
    top: 592px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result4 {
    left: 109px;
    top: 534px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result5 {
    left: 93px;
    top: 523px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result6 {
    left: 101px;
    top: 504px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result7 {
    left: 270px;
    top: 319px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result8 {
    left: 278px;
    top: 299px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result9 {
    left: 299px;
    top: 287px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result10 {
    left: 307px;
    top: 269px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result11 {
    left: 326px;
    top: 258px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result12 {
    left: 371px;
    top: 207px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result13 {
    left: 406px;
    top: 170px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result14 {
    left: 419px;
    top: 153px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result15 {
    left: 434px;
    top: 139px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-resulttelte {
    left: 470px;
    top: 209px;
  }

  /* Telte */
  /* line 12, ../../sass/_base.scss */
  .room-resultvogne {
    left: 513px;
    top: 93px;
  }

  /* Vogne */
}
