/* line 5, ../../sass/maps/sejeroe.map.scss */
a {
  color: #093;
}
/* line 7, ../../sass/maps/sejeroe.map.scss */
a:hover {
  color: #004116;
}

@media (min-width: 767px) {
  /* line 15, ../../sass/maps/sejeroe.map.scss */
  .page-camping #content,
  .page-booking #content_result {
    background: url("../../images/maps/sejero-kort.jpg") 100% 0 no-repeat no-repeat;
  }

  /* line 19, ../../sass/maps/sejeroe.map.scss */
  .page-camping #content, .page-booking #content_result {
    /** Adjust to height of background map **/
    min-height: 700px;
  }

  /* line 23, ../../sass/maps/sejeroe.map.scss */
  .view-camping-type {
    height: 700px;
  }
}
@media (min-width: 767px) {
  /*  Hytter */
  /* line 12, ../../sass/_base.scss */
  .room-result266 {
    left: 69px;
    top: 546px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result267 {
    left: 53px;
    top: 561px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result268 {
    left: 67px;
    top: 577px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result269 {
    left: 84px;
    top: 587px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result4 {
    left: 109px;
    top: 534px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result5 {
    left: 93px;
    top: 523px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result6 {
    left: 101px;
    top: 504px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result7 {
    left: 270px;
    top: 319px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result8 {
    left: 282px;
    top: 301px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result9 {
    left: 297px;
    top: 287px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result10 {
    left: 310px;
    top: 272px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result11 {
    left: 324px;
    top: 257px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result12 {
    left: 374px;
    top: 209px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result13 {
    left: 404px;
    top: 168px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result14 {
    left: 419px;
    top: 153px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result15 {
    left: 433px;
    top: 139px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result270 {
    left: 451px;
    top: 119px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result271 {
    left: 469px;
    top: 128px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result272 {
    left: 457px;
    top: 347px;
  }

  /* Telte */
  /* line 251, ../../sass/maps/sejeroe.map.scss */
  .room-result16,
  .room-result17,
  .room-result18,
  .room-result19,
  .room-result20,
  .room-result21,
  .room-result22,
  .room-result23,
  .room-result24,
  .room-result25,
  .room-result26,
  .room-result27,
  .room-result28,
  .room-result29,
  .room-result30,
  .room-result31,
  .room-result32,
  .room-result33,
  .room-result34,
  .room-result35,
  .room-result36,
  .room-result37,
  .room-result38,
  .room-result39,
  .room-result40,
  .room-result41,
  .room-result42,
  .room-result43,
  .room-result44,
  .room-result45,
  .room-result46,
  .room-result47,
  .room-result48,
  .room-result49,
  .room-result50,
  .room-result51,
  .room-result52,
  .room-result53,
  .room-result54,
  .room-result55,
  .room-result56,
  .room-result57,
  .room-result58,
  .room-result59,
  .room-result60,
  .room-result61,
  .room-result62,
  .room-result63,
  .room-result64,
  .room-result65,
  .room-result66,
  .room-result67,
  .room-result68,
  .room-result69,
  .room-result70,
  .room-result71,
  .room-result72,
  .room-result73,
  .room-result74,
  .room-result75,
  .room-result76,
  .room-result77,
  .room-result78,
  .room-result79,
  .room-result80,
  .room-result81,
  .room-result82,
  .room-result83,
  .room-result84,
  .room-result85,
  .room-result86,
  .room-result87,
  .room-result88,
  .room-result89,
  .room-result90,
  .room-result91,
  .room-result92,
  .room-result93,
  .room-result94,
  .room-result95,
  .room-result96,
  .room-result97,
  .room-result98,
  .room-result99,
  .room-result100,
  .room-result101,
  .room-result102,
  .room-result103,
  .room-result104,
  .room-result105,
  .room-result106,
  .room-result107,
  .room-result108,
  .room-result109,
  .room-result110,
  .room-result111,
  .room-result112,
  .room-result113,
  .room-result114,
  .room-result115,
  .room-result116,
  .room-result117,
  .room-result118,
  .room-result119,
  .room-result120,
  .room-result121,
  .room-result122,
  .room-result123,
  .room-result124,
  .room-result125,
  .room-result126,
  .room-result127,
  .room-result128,
  .room-result129,
  .room-result130,
  .room-result131,
  .room-result132,
  .room-result133,
  .room-result134,
  .room-result135,
  .room-result136,
  .room-result137,
  .room-result138,
  .room-result139,
  .room-result140,
  .room-result141,
  .room-result142,
  .room-result143,
  .room-result144,
  .room-result145,
  .room-result146,
  .room-result147,
  .room-result148,
  .room-result149,
  .room-result150,
  .room-result151,
  .room-result152,
  .room-result153,
  .room-result154,
  .room-result155,
  .room-result156,
  .room-result157,
  .room-result158,
  .room-result159,
  .room-result160,
  .room-result161,
  .room-result162,
  .room-result163,
  .room-result164,
  .room-result165,
  .room-result166,
  .room-result167,
  .room-result168,
  .room-result169,
  .room-result170,
  .room-result171,
  .room-result172,
  .room-result173,
  .room-result174,
  .room-result175,
  .room-result176,
  .room-result177,
  .room-result178,
  .room-result179,
  .room-result180,
  .room-result181,
  .room-result182,
  .room-result183,
  .room-result184,
  .room-result185,
  .room-result186,
  .room-result187,
  .room-result188,
  .room-result189,
  .room-result190,
  .room-result191,
  .room-result192,
  .room-result193,
  .room-result194,
  .room-result195,
  .room-result196,
  .room-result197,
  .room-result198,
  .room-result199,
  .room-result200,
  .room-result201,
  .room-result202,
  .room-result203,
  .room-result204,
  .room-result205,
  .room-result206,
  .room-result207,
  .room-result208,
  .room-result209,
  .room-result210,
  .room-result211,
  .room-result212,
  .room-result213,
  .room-result214,
  .room-result215 {
    left: 473px;
    top: 215px;
  }

  /* Enheder */
  /* line 296, ../../sass/maps/sejeroe.map.scss */
  .room-result216,
  .room-result217,
  .room-result218,
  .room-result219,
  .room-result220,
  .room-result221,
  .room-result222,
  .room-result223,
  .room-result224,
  .room-result225,
  .room-result226,
  .room-result227,
  .room-result228,
  .room-result229,
  .room-result230,
  .room-result231,
  .room-result232,
  .room-result233,
  .room-result234,
  .room-result235,
  .room-result236,
  .room-result237,
  .room-result238,
  .room-result239,
  .room-result240,
  .room-result241,
  .room-result242,
  .room-result243,
  .room-result244,
  .room-result245,
  .room-result246,
  .room-result247,
  .room-result248,
  .room-result249,
  .room-result250,
  .room-result251,
  .room-result252,
  .room-result253,
  .room-result254,
  .room-result255 {
    left: 516px;
    top: 96px;
  }
}
