@media (min-width: 767px) {
  /* line 6, ../../sass/maps/ugerloese-feriecentret.map.scss */
  .page-camping #content,
  .page-booking #content_result {
    background: url("../../images/maps/ugerloese-kort.jpg") 100% 0 no-repeat no-repeat;
  }

  /* line 10, ../../sass/maps/ugerloese-feriecentret.map.scss */
  .page-camping #content, .page-booking #content_result {
    /** Adjust to height of background map **/
    min-height: 700px;
  }

  /* line 14, ../../sass/maps/ugerloese-feriecentret.map.scss */
  .view-camping-type {
    height: 700px;
  }
}
@media (min-width: 767px) {
  /***  Room locations ****/
}
