@media (min-width: 767px) {
  /* line 6, ../../sass/maps/ugerloese-feriecentret.map.scss */
  .page-camping #content,
  .page-booking #content_result {
    background: url("../../images/maps/ugerloese-kort.jpg") 100% 0 no-repeat no-repeat;
  }

  /* line 10, ../../sass/maps/ugerloese-feriecentret.map.scss */
  .page-camping #content, .page-booking #content_result {
    /** Adjust to height of background map **/
    min-height: 700px;
  }

  /* line 14, ../../sass/maps/ugerloese-feriecentret.map.scss */
  .view-camping-type {
    height: 700px;
  }
}
@media (min-width: 767px) {
  /***  Room locations ****/
  /* line 12, ../../sass/_base.scss */
  .room-result214 {
    left: 353px;
    top: 97px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result215 {
    left: 335px;
    top: 87px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result216 {
    left: 347px;
    top: 72px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result217 {
    left: 365px;
    top: 85px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result218 {
    left: 415px;
    top: 348px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result219 {
    left: 415px;
    top: 369px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result220 {
    left: 415px;
    top: 385px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result221 {
    left: 415px;
    top: 403px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result222 {
    left: 415px;
    top: 420px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result223 {
    left: 401px;
    top: 354px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result224 {
    left: 401px;
    top: 374px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result225 {
    left: 401px;
    top: 392px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result226 {
    left: 401px;
    top: 410px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result227 {
    left: 401px;
    top: 427px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result144 {
    left: 337px;
    top: 112px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result145 {
    left: 322px;
    top: 103px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result146 {
    left: 324px;
    top: 125px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result147 {
    left: 310px;
    top: 118px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result148 {
    left: 311px;
    top: 139px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result149 {
    left: 298px;
    top: 131px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result150 {
    left: 299px;
    top: 151px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result151 {
    left: 285px;
    top: 143px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result152 {
    left: 286px;
    top: 166px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result153 {
    left: 271px;
    top: 159px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result154 {
    left: 279px;
    top: 179px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result155 {
    left: 264px;
    top: 176px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result156 {
    left: 279px;
    top: 194px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result157 {
    left: 264px;
    top: 194px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result158 {
    left: 279px;
    top: 216px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result159 {
    left: 264px;
    top: 216px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result160 {
    left: 279px;
    top: 237px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result161 {
    left: 264px;
    top: 237px;
  }

  /* 20 */
  /* line 12, ../../sass/_base.scss */
  .room-result162 {
    left: 279px;
    top: 254px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result163 {
    left: 264px;
    top: 254px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result164 {
    left: 333px;
    top: 226px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result165 {
    left: 333px;
    top: 255px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result166 {
    left: 357px;
    top: 226px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result167 {
    left: 357px;
    top: 255px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result168 {
    left: 383px;
    top: 226px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result169 {
    left: 383px;
    top: 255px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result170 {
    left: 408px;
    top: 226px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result171 {
    left: 408px;
    top: 255px;
  }

  /* 30 */
  /* line 12, ../../sass/_base.scss */
  .room-result172 {
    left: 333px;
    top: 287px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result173 {
    left: 333px;
    top: 317px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result174 {
    left: 357px;
    top: 287px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result175 {
    left: 357px;
    top: 317px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result176 {
    left: 383px;
    top: 287px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result177 {
    left: 383px;
    top: 317px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result178 {
    left: 408px;
    top: 287px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result179 {
    left: 408px;
    top: 317px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result180 {
    left: 419px;
    top: 493px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result181 {
    left: 400px;
    top: 493px;
  }

  /* 40 */
  /* line 12, ../../sass/_base.scss */
  .room-result182 {
    left: 419px;
    top: 515px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result183 {
    left: 400px;
    top: 515px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result184 {
    left: 415px;
    top: 545px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result185 {
    left: 416px;
    top: 574px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result186 {
    left: 382px;
    top: 547px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result187 {
    left: 392px;
    top: 578px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result188 {
    left: 357px;
    top: 551px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result189 {
    left: 365px;
    top: 581px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result190 {
    left: 336px;
    top: 556px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result191 {
    left: 345px;
    top: 583px;
  }

  /* 50 */
  /* line 12, ../../sass/_base.scss */
  .room-result192 {
    left: 315px;
    top: 557px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result193 {
    left: 320px;
    top: 588px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result194 {
    left: 292px;
    top: 561px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result195 {
    left: 297px;
    top: 590px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result196 {
    left: 414px;
    top: 599px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result197 {
    left: 417px;
    top: 627px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result198 {
    left: 387px;
    top: 602px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result199 {
    left: 393px;
    top: 631px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result200 {
    left: 363px;
    top: 604px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result201 {
    left: 368px;
    top: 636px;
  }

  /* 60 */
  /* line 12, ../../sass/_base.scss */
  .room-result202 {
    left: 339px;
    top: 609px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result203 {
    left: 345px;
    top: 638px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result204 {
    left: 309px;
    top: 613px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result205 {
    left: 313px;
    top: 641px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result206 {
    left: 430px;
    top: 645px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result207 {
    left: 447px;
    top: 645px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result208 {
    left: 406px;
    top: 212px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result209 {
    left: 390px;
    top: 212px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result210 {
    left: 376px;
    top: 212px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result211 {
    left: 362px;
    top: 212px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result212 {
    left: 350px;
    top: 212px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result213 {
    left: 337px;
    top: 212px;
  }

  /* 72*/
  /* line 12, ../../sass/_base.scss */
  .room-result228 {
    left: 282px;
    top: 284px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result229 {
    left: 266px;
    top: 288px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result230 {
    left: 253px;
    top: 296px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result231 {
    left: 243px;
    top: 304px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result232 {
    left: 243px;
    top: 315px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result233 {
    left: 243px;
    top: 327px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result234 {
    left: 243px;
    top: 339px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result235 {
    left: 243px;
    top: 351px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result236 {
    left: 324px;
    top: 329px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result237 {
    left: 340px;
    top: 329px;
  }

  /* line 12, ../../sass/_base.scss */
  .room-result238 {
    left: 359px;
    top: 329px;
  }

  /* 1 -11*/
}
/* line 12, ../../sass/_base.scss */
.room-result239 {
  left: 330px;
  top: 263px;
}

/* line 12, ../../sass/_base.scss */
.room-result240 {
  left: 343px;
  top: 263px;
}

/* line 12, ../../sass/_base.scss */
.room-result241 {
  left: 355px;
  top: 263px;
}

/* line 12, ../../sass/_base.scss */
.room-result242 {
  left: 369px;
  top: 263px;
}

/* line 12, ../../sass/_base.scss */
.room-result243 {
  left: 381px;
  top: 263px;
}

/* line 12, ../../sass/_base.scss */
.room-result244 {
  left: 393px;
  top: 263px;
}

/* line 12, ../../sass/_base.scss */
.room-result245 {
  left: 404px;
  top: 263px;
}

/* line 12, ../../sass/_base.scss */
.room-result246 {
  left: 330px;
  top: 274px;
}

/* line 12, ../../sass/_base.scss */
.room-result247 {
  left: 343px;
  top: 274px;
}

/* line 12, ../../sass/_base.scss */
.room-result248 {
  left: 355px;
  top: 274px;
}

/* line 12, ../../sass/_base.scss */
.room-result249 {
  left: 369px;
  top: 274px;
}

/* line 12, ../../sass/_base.scss */
.room-result250 {
  left: 381px;
  top: 274px;
}

/* line 12, ../../sass/_base.scss */
.room-result251 {
  left: 393px;
  top: 274px;
}

/* line 12, ../../sass/_base.scss */
.room-result252 {
  left: 404px;
  top: 274px;
}

/* line 25, ../../sass/_base.scss */
.room-result252 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result251 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result250 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result249 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result248 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result247 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result246 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result245 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result244 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result243 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result242 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result241 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result240 {
  background-color: #35e214 !important;
  height: 8px !important;
}

/* line 25, ../../sass/_base.scss */
.room-result239 {
  background-color: #35e214 !important;
  height: 8px !important;
}
